{% extends "layout.html" %}
 
{% block content %}
  <h2>Upload a song</h2>
  <form id="uploadform" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
     
    {{ form.name.label }}
    {{ form.name }}
     
    {{ form.artist.label }}
    {{ form.artist }}
        
    {{ form.album.label }}
    {{ form.album }}
    
    {{ form.fileurl.label }}
    {{ form.fileurl }}
    <input id="f" name="Audio File" type="file" accept="audio.*">
    <br>
    <br>
    
    <button type=button id="SubmitButton" onclick="start_upload();">Upload</button>
    <button type=button id="gen-tag" onclick="loadFile(document.getElementById('f'));">Generate Tags</button>
  </form>
  <div id="FadeDiv" style="display:none;" class="fadeMe">
  </div>
  <div id="LoadingDiv" style="display:none;">
    <h2 style="text-align:center" id="ProgressIndicator">Uploading..</h2>
	  <img style="text-align:center" src="https://s3-ap-southeast-1.amazonaws.com/rishavmusicapp/static/ajax-loader.2.gif" alt="" />
  </div> 
  
  <script src="https://raw.githubusercontent.com/aadsm/JavaScript-ID3-Reader/master/dist/id3-minimized.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>
    function clearFileInput(id) 
    { 
        var oldInput = document.getElementById(id); 
    
        var newInput = document.createElement("input"); 
    
        newInput.type = "file"; 
        newInput.id = oldInput.id; 
        newInput.name = oldInput.name; 
        newInput.className = oldInput.className; 
        newInput.style.cssText = oldInput.style.cssText; 
        // TODO: copy any other relevant attributes 
    
        oldInput.parentNode.replaceChild(newInput, oldInput); 
    }
    
    function loadFile(input) {
      var file = input.files[0],
        url = file.urn || file.name;
      ID3.loadTags(url, function() {
        showTags(url);
      }, {
        tags: ["title","artist","album","picture"],
        dataReader: FileAPIReader(file)
      });
    }
    
    function showTags(url) {
      var tags = ID3.getAllTags(url);
      console.log(tags);
      document.getElementById('name').value = tags.title || "";
      document.getElementById('artist').value = tags.artist || "";
      document.getElementById('album').value = tags.album || "";
    }
    function createCORSRequest(method, url) {
      var xhr = new XMLHttpRequest();
      if ("withCredentials" in xhr) {

       // Check if the XMLHttpRequest object has a "withCredentials" property.
       // "withCredentials" only exists on XMLHTTPRequest2 objects.
       xhr.open(method, url, true);

     } else if (typeof XDomainRequest != "undefined") {

       // Otherwise, check if XDomainRequest.
       // XDomainRequest only exists in IE, and is IE's way of making CORS requests.
       xhr = new XDomainRequest();
       xhr.open(method, url);

    } else {

       // Otherwise, CORS is not supported by the browser.
       xhr = null;

    }
    return xhr;
 }
    
    //document.getElementById("gen-tag").onclick=loadFile();
    function start_upload(){
        console.log('uploading');
        var files = document.getElementById("f").files;
        var file = files[0];
        if(file == null){
            alert("No file selected.");
        }
        else{
            get_signed_request(file);
        }
      };
      
      
    function get_signed_request(file){
      var ldiv = document.getElementById('LoadingDiv');
      var fadediv = document.getElementById('FadeDiv');
      var xhr = new XMLHttpRequest();
      xhr.open("GET", URLify("/sign_s3?artist="+ document.getElementById("artist").value+"&album="+document.getElementById("album").value+"&name="+document.getElementById("name").value+"&file_type="+file.type));
      xhr.onreadystatechange = function(){
          if(xhr.readyState === 4){
              if(xhr.status === 200){
                  var response = JSON.parse(xhr.responseText);
                  upload_file(file, response.signed_request, response.url);
              }
              else{
                  alert("Could not get signed URL.");
              }
            }
        };
      ldiv.style.display='block';
      fadediv.style.display='block';
      xhr.send();
      
    }
    function upload_file(file, signed_request, url){
    
       var xhr = new XMLHttpRequest();
       var ldiv = document.getElementById('LoadingDiv');
       var fadediv = document.getElementById('FadeDiv');
       //var xhr = createCORSRequest("PUT", signed_request);
       //if (!xhr)
       //  console.log("cors not supported");
       xhr.open("PUT", signed_request);
       xhr.setRequestHeader('x-amz-acl', 'public-read');
       //xhr.setRequestHeader('Origin','localhost');
       xhr.upload.onprogress = function(evt)
        {
        
          if (evt.lengthComputable) {
             //console.log(upload.total);
             //console.log(evt.total);
             //console.log("loaded:");
             //console.log(upload.loaded);
             //console.log(evt.loaded);
             var progress = Math.ceil(((evt.loaded) / evt.total) * 100);
             $("#ProgressIndicator").html( "Uploading.. " + progress + "%");
             //$get('dvProgress').style.width = progress + '%';
          }
        
        };
       xhr.onload = function() {
        console.log(xhr.responseText)
        if (xhr.status === 200) {
            console.log(url);
            ldiv.style.display = 'none';
            fadediv.style.display = 'none';
            //alert("Upload Complete. You will be redirected to the home page in a moment now.");
            document.getElementById("fileurl").value=url;
            document.getElementById("f").value = null;
            document.getElementById("uploadform").submit();
            
        }
        };
        xhr.onerror = function() {
            ldiv.style.display = 'none';
            fadediv.style.display = 'none';
            alert("Could not upload file.");
         };
        ldiv.style.display='block';
        fadediv.style.display='block';
        xhr.send(file);
    }
  </script>
{% endblock %}